@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    
    University of Washington Tacoma<br />
        1900 Commerce Street<br />
        Tacoma, WA 98402-3100<br />
    <abbr title="Course Number">TCSS:</abbr>
    559
</address>

<address>
    <strong>Support:</strong> <a href="mailto:hxl@uw.edu">hxl@uw.edu</a><br />
   
</address>
