@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
   <strong>TCSS559 Group member:</strong><br />
    Angela Zhao <br />
    Edward Han<br />
    Ningwei Chu<br />
    </address>
 <address>  
    University of Washington Tacoma<br />
        1900 Commerce Street<br />
        Tacoma, WA 98402-3100<br />


</address>

<address>
    <strong>Support:</strong> <a href="mailto:hxl@uw.edu">hxl@uw.edu</a><br />
   
</address>
