@{
    ViewData["Title"] = "Home Page";
}
Adress => (latitude,longtitude)
  <style>

      #floating-panel {
        position: absolute;
        top: 200px;
        left: 300px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 50px;
        padding-left: 10px;
      }
      #latlng{
        position: absolute;
        left: 300px;
        top: 290px;
      }
    </style>
    <div id="floating-panel">
      <input id="address" type="textbox" value="Tacoma, WA">
      <input id="submit" type="button" value="Geocode">
    </div>
    <div id="latlng">lat=0,lng=0</div>
    <script>
      function initMap() {

        var geocoder = new google.maps.Geocoder();

        document.getElementById('submit').addEventListener('click', function() {
          geocodeAddress(geocoder);
        });
      }

      function geocodeAddress(geocoder) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            var latlng="$lat="+results[0].geometry.location.lat();
            latlng=latlng+"$lng="+results[0].geometry.location.lng();
          document.getElementById("latlng").innerHTML=latlng;
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeKNcZyUlkSoXS4KRiB3JxRkJYLst1Ef0&callback=initMap">
    </script>
